.photo-grid {
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-bottom: 88px;
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding-bottom: 64px;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}