.cover {
  max-height: 740px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
}

.cover:hover .cover__black {
  opacity: 0.8;
} 

@media screen and (max-width: 1279px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    min-height: 200px;
  }
}